# AU template: https://github.com/majkinetor/au-packages-template
build_cloud: APPVEY2-WAN-P Docker
image: WindowsDocker

version: '{build}'
max_jobs: 1
# History plugin requires complete log
#clone_depth: 5
branches:
  only:
  - main
#build:
#  verbosity: minimal

skip_commits:
  files:
    - README.md
    - .gitignore
    - LICENSE

environment:
  # Set au version to use or omit to use the latest. Specify branch name to use development version from Github
  au_version: main # master # 2018.5.18
  au_push: false

  # Github token to commit pushed packages to repository
  github_user_repo: bjoernf73/auchocos
  CHOCO_API_KEY:
    secure: bCPiIy/AIXxQIzzMpJJgfYysSE3DHCm9GgD6uCzFEwkUztB8TwGkVQo7XRAwv734
  GITHUB_TOKEN:
    secure: RH8Yik8KjWnFsm4pQusowciH+8noGm6SxShLPCHCaPsagw9kliG69Zxi5lmJXuOFtB5bm4ghhRR06y1Sj2F5t1Q1ECdtFalBm5akIF8goq78Zse6lR3t0/2cTwf/sYQT


  # Mail credentials - for error notifications
  # mail_user:
  #   secure: not_set_yet
  # mail_pass:
  #   secure: not_set_yet
  # mail_server: smtp.gmail.com
  # mail_port: 587
  # mail_enablessl: true

  # ID of the gist used to save run results - create a gist under the github_user (secret or not) and grab the id - https://gist.github.com/name/id
  # Optional, leave empty to create anonymous gist
  #gist_id: not_set_yet

  # Force test: gist id for test results
  #gist_id_test:


init:
- git config --global user.email "ci@appveyor.com"
- git config --global user.name "AppVeyor CI"
- git config --global core.safecrlf false

install:
- pwsh: |
    Get-CimInstance win32_operatingsystem -Property Caption, OSArchitecture, Version | fl Caption, OSArchitecture, Version
    choco upgrade chocolatey -y
    if(Test-Path -Path $Env:TEMP/auchocos){
        Remove-Item -Path $Env:TEMP/auchocos -Recurse -Force
    }
    git clone -q https://github.com/bjoernf73/auchocos.git $Env:TEMP/auchocos
    Set-Location $Env:TEMP/auchocos
    
build_script:
- pwsh: |
    $ErrorActionPreference = 'Stop'
    git remote set-url origin https://$($env:GITHUB_TOKEN)@github.com/bjoernf73/auchocos.git
    ./update_all.ps1

#on_finish:
#- pwsh: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
